<div>

<h2>Entra a la app </h2>

<form action="/auth/login" method="POST">
<label for="access"> Username or email</label>
<input type="text" name="access">
<br>
<label for="password">Password:</label>
<input type="password" name="password">
<br>
<h3>{{error}}</h3>
<button>Log in</button>
<br>
</form>
</div>